<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title '' %} - My Symfony Application</title>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
